apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../

patches:
  - target:
      kind: StatefulSet
      name: redpanda
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - redpanda
          - start
          - --smp=1
          - --memory=2G
          - --reserve-memory=512M
          - --default-log-level=info
          - --overprovisioned
          - --advertise-rpc-addr=$(POD_NAME).redpanda.observability-hub.svc.cluster.local:33145
      - op: replace
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 500m
            memory: 2Gi
          limits:
            cpu: "1"
            memory: 3Gi
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 20Gi
