apiVersion: v1
kind: ConfigMap
metadata:
  name: redpanda-config
  namespace: observability-hub
data:
  redpanda.yaml: |
    redpanda:
      data_directory: /var/lib/redpanda/data
      rpc_server:
        address: 0.0.0.0
        port: 33145
      kafka_api:
        - address: 0.0.0.0
          port: 9092
          name: internal
      admin:
        - address: 0.0.0.0
          port: 9644
      seed_servers:
        - host:
            address: redpanda-0.redpanda.observability-hub.svc.cluster.local
            port: 33145
      auto_create_topics_enabled: false
      default_topic_replications: 1
      default_topic_partitions: 6
      log_segment_size: 67108864
    rpk:
      overprovisioned: true
    pandaproxy: {}
    schema_registry: {}
  bootstrap.yaml: |
    auto_create_topics_enabled: false
    default_topic_replications: 1
    log_retention_ms: 604800000
