apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../

patches:
  - target:
      kind: Deployment
      name: otel-aggregator
    patch: |
      - op: replace
        path: /spec/replicas
        value: 2
  - target:
      kind: ConfigMap
      name: cluster-identity
    patch: |
      - op: replace
        path: /data/cluster-id
        value: "lke-edge-staging"
      - op: replace
        path: /data/environment
        value: "staging"
