apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: observability-hub
  labels:
    app.kubernetes.io/name: loki
    app.kubernetes.io/part-of: federated-observability
spec:
  selector:
    app.kubernetes.io/name: loki
  ports:
    - name: http
      port: 3100
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9096
      targetPort: grpc
      protocol: TCP
