apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../

patches:
  - target:
      kind: Deployment
      name: otel-router-splunk
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Deployment
      name: otel-router-datadog
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Deployment
      name: otel-router-otlp
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
