apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: observability-hub
  labels:
    app.kubernetes.io/name: tempo
    app.kubernetes.io/part-of: federated-observability
spec:
  selector:
    app.kubernetes.io/name: tempo
  ports:
    - name: http
      port: 3200
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9095
      targetPort: grpc
      protocol: TCP
    - name: otlp-grpc
      port: 4317
      targetPort: otlp-grpc
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: otlp-http
      protocol: TCP
