apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: observability-hub
data:
  grafana.ini: |
    [server]
    http_port = 3000

    [security]
    admin_user = admin
    admin_password = ${GF_SECURITY_ADMIN_PASSWORD}

    [auth.anonymous]
    enabled = false

    [alerting]
    enabled = true

  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: VictoriaMetrics
        type: prometheus
        url: http://victoria-metrics.observability-hub.svc.cluster.local:8428
        access: proxy
        isDefault: true
      - name: Loki
        type: loki
        url: http://loki.observability-hub.svc.cluster.local:3100
        access: proxy
      - name: Tempo
        type: tempo
        url: http://tempo.observability-hub.svc.cluster.local:3200
        access: proxy
        jsonData:
          tracesToLogsV2:
            datasourceUid: loki
            spanStartTimeShift: "-1h"
            spanEndTimeShift: "1h"
            filterByTraceID: true
            filterBySpanID: false
          tracesToMetrics:
            datasourceUid: victoriametrics
            spanStartTimeShift: "-1h"
            spanEndTimeShift: "1h"
          serviceMap:
            datasourceUid: victoriametrics
          nodeGraph:
            enabled: true
