apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: observability-hub
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: federated-observability
spec:
  selector:
    app.kubernetes.io/name: grafana
  ports:
    - name: http
      port: 3000
      targetPort: http
      protocol: TCP
