apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../

patches:
  - target:
      kind: Deployment
      name: otel-aggregator
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: HorizontalPodAutoscaler
      name: otel-aggregator
    patch: |
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 3
  - target:
      kind: ConfigMap
      name: cluster-identity
    patch: |
      - op: replace
        path: /data/cluster-id
        value: "lke-edge-dev"
      - op: replace
        path: /data/environment
        value: "dev"
