apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../

patches:
  - target:
      kind: HorizontalPodAutoscaler
      name: otel-gateway
    patch: |
      - op: replace
        path: /spec/minReplicas
        value: 3
      - op: replace
        path: /spec/maxReplicas
        value: 20
  - target:
      kind: Ingress
      name: otel-gateway
    patch: |
      - op: replace
        path: /metadata/annotations/nginx.ingress.kubernetes.io~1limit-rps
        value: "5000"
