apiVersion: v1
kind: ConfigMap
metadata:
  name: victoria-metrics-config
  namespace: observability-hub
data:
  scrape.yaml: |
    global:
      scrape_interval: 30s
      scrape_timeout: 10s

    scrape_configs:
      - job_name: otel-gateway
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names: [observability-hub]
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: "true"
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            target_label: __address__
            regex: (.+)
            replacement: ${1}:${2}
